/* DOCUMENT INFORMATIONS
    - Document : TRAVELTHEWORLD
    - version :
    - Author : Franck Steven Yoann
*/

/* COLORS
    - #FFDA1F Jaune
    - #0F07E0 Bleu


*/

/* FONTS
    - Default : KOHO


*/

/* CSS DIRECTORY
    1. =GLOBAL
    2. =HOMETITLE
    2. =CAROUSEL


*/


/* GLOBAL
==================================================*/

h1{
    font-family: 'KoHo', Arial, sans-serif;
    color: #fff;
}

p{
    font-family: 'KoHo', Arial, sans-serif;
    color:#fff;
}




/* HEADER
=================================================*/
header {
    height: 76px;
}

.navbar {
    background-color: #0F07E0!important;
}

.navbar img {
    height: 50px;
    background-color: #FFDA1F;
    border-radius: 50%;
}

.navbar-brand {
    transition: 1s;
}

.navbar-brand:hover {
    transform: scale(1.1);
    transition: 1s;
}

.navbar a {
    font-family: 'KOHO', 'arial', sans-serif;
    color: #FFDA1F!important;
    font-weight: 700;
}
.navbar-nav a:hover {
    color: #fff!important;
    transition: 1s;
}

.special-offer {
    background-color: #fff;
    position: fixed;
    top: 76px;
    width: 100%;

}


.special-offer p {
    font-family: 'KOHO', 'arial', sans-serif;
    color: #0F07E0;
    text-align: center;
    font-weight: 800;
    font-size: 1.3em;
}



/* BANDEAU ASSETS
================================================*/

.assets {
    margin-top: 50px;
    text-align: center;
    background-color: #0F07E0 ;
}

h3 {
    font-family: 'KOHO', 'arial', sans-serif;
    color: #FFDA1F!important;
}

.assets .fas, .far {
    font-size: 2em;
    transition: 1s;
}
.assets .far:hover {
    transform: rotate(360deg);
    transition: 1s;
}
.assets .fas:hover {
    transform: rotate(360deg);
    transition: 1s;
}


.assets .col-md-4 {
    padding: 30px;
}


/* FOOTER
================================================*/

footer {
    margin-top: 50px;
    background-color: #0F07E0;
}

.reseaux {
    display: flex;
    justify-content: center;
}

.reseaux a{
    text-decoration: none;
    color: #FFDA1F;
    font-size: 2em;
    padding: 20px;
    text-align: center;
    transition: 1s;
}
.reseaux a:hover {
    transform: scale(1.2);
    color: #fff;
    transition: 1s;
}

.copyright p{
    text-align: center;
    color: #fff;
    font-family: 'KOHO', 'arial', sans-serif;
    font-size: 0.8em;
    padding-bottom: 10px;

}



/* HOME TITLE
==================================================*/

.home-title {
    position: absolute;
    top: 30%;
    left: 15%;
}

.home-title h1{
    font-size: 500%;
    font-weight: 300;
}

.home-title span{
    font-weight: 700;
}

.home-title p{
    font-size: 150%;
    max-width: 600px;
    margin-left: 15px;
    letter-spacing: 5px;
}

.home-title a{
    text-decoration: none;
}

.btn {
    display: inline-block;
    color: #FFDA1F  !important;
    font-family: "aldo_the_apacheregular", Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 150% !important;
    text-decoration: none;
    margin: 10px 0px 0px 40px;
    margin-top: 10px;
  }

.btn-full{
    background-color: #fff!important;
    color: #0F07E0 !important;
    margin-right:15px;
}

.btn-ghost{
    border: 1px solid #0F07E0 !important;
    color: #fff !important;
}

.btn-full:hover{
    background-color: #0F07E0  !important;
    color: #FFDA1F !important;
}

.btn-ghost:hover{
    background-color: #FFDA1F !important;
    border: 1px solid #0F07E0 !important; 
    color: #0F07E0 !important;
}



/* CAROUSEL
==================================================*/

.carousel{
    height: 100vh;
    object-fit:cover;
    z-index: -1;
}
.carousel-inner{
    overflow: hidden;
    height: 100vh;
    object-fit: cover;
}

.carousel-item{
    height: 100vh;
    filter: brightness(0.6);
}


/* CAROUSEL
==================================================*/

.contact-form{
    padding: 15px;
    margin-top: 20px;
}


.btn-contact{
    background-color: #0F07E0 !important;
    color: #fff !important;
    margin-right:15px;
}
